@model TModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Footer</h2>
<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2025 - COMP2139_ICE - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>