@model TModel

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Projects</h2>

@if (Model.Any())
{
    <a asp-action="Details" asp-route-id="@item.ProjectId">Details</a> |
    <a asp-action="Edit" asp-route-id="@item.ProjectId">Edit</a> |
        <a asp-action="Delete" asp-route-id="@item.ProjectId">Delete</a>
}